bin/
/dist/
/.tmp/
/.settings
/.sass-cache
.DS_Store
app/
node_modules/
/.jekyll
.classpath

src/JEvalTests.java

src/JEvalTests.java
.classpath

.classpath
*.classpath


src/GraphModel.java

src/GraphModel.java
