<div class="smaller-nav">
  <ul class="small-nav-links">
    <li class="small-nav-link"><a href="/software">Application</a></li>
    <li class="small-nav-link"><a href="/finance">Testing</a></li>
    <li class="small-nav-link"><a href="/creative">Documentation</a></li>
    <li class="small-nav-link"><a href="">Other</a></li>
  </ul>

  <div class="smaller-nav-options">
    <ul class="software-tag">
      <li><a href="/react"> Features </a> </li>
      <li><a href="/rails"> Specs </a></li>
      <li><a href="/javascript"> Something </a></li>
      <li><a href="/software"> More </a></li>
    </ul>

    <ul class="finance-tag">
      <li><a href="/pf"> Test Cases </a></li>
      <li> <a href="/investing"> Blah </a></li>
      <li> <a href="/entrepreneurship"> Blah </a> </li>
      <li> <a href="/finance"> Blah </a> </li>
    </ul>

    <ul class="creative-tag">
      <li><a href="/poetry"> DOc 1 </a></li>
      <li><a href="/essays"> Doc 2</a></li>
      <li> <a href="/technology"> Doc 3 </a></li>
      <li><a href="/creative">More</a> </li>
    </ul>

    <ul class="other-tag">
      <li> <a href="/books"> Team </a> </li>
      <li> <a href="/projects"> Blah </a></li>
      <li> <a href="/about"> About </a></li>
      <li> <a href="/blog"> Blah </a></li>
    </ul>
  </div>
</div>

<div class="nav">
  <a href="/"><img src="{{ site.url }}/assets/logo-2.png" id="logo-img" alt="Oskar Niburski"/></a>
  <h1> Calc-u-later </h1>

  <div class="parent-nav">
    <ul>
      <li class="small-nav-link"><a href="/software">Application</a></li>
      <li class="small-nav-link"><a href="/finance">Testing</a></li>
      <li class="small-nav-link"><a href="/creative">Documentation</a></li>
      <li class="small-nav-link"><a href="">Other</a></li>
    </ul>
  </div>


  <div class="children-nav">

    <ul class="no-tag">
      <li> Hi. </li>
    </ul>

    <ul class="software-tag">
      <li><a href="/react"> Features </a> </li>
      <li><a href="/rails"> Specs </a></li>
      <li><a href="/javascript"> Something </a></li>
      <li><a href="/software"> More </a></li>
    </ul>

    <ul class="finance-tag">
      <li><a href="/pf"> Test Cases </a></li>
      <li> <a href="/investing"> Blah </a></li>
      <li> <a href="/entrepreneurship"> Blah </a> </li>
      <li> <a href="/finance"> Blah </a> </li>
    </ul>

    <ul class="creative-tag">
      <li><a href="/poetry"> DOc 1 </a></li>
      <li><a href="/essays"> Doc 2</a></li>
      <li> <a href="/technology"> Doc 3 </a></li>
      <li><a href="/creative">More</a> </li>
    </ul>

    <ul class="other-tag">
      <li> <a href="/books"> Team </a> </li>
      <li> <a href="/projects"> Blah </a></li>
      <li> <a href="/about"> About </a></li>
      <li> <a href="/blog"> Blah </a></li>
    </ul>
  </div>
</div>

<hr class="hr-nav">