<div class="smaller-nav">
  <ul class="small-nav-links">
    <li class="small-nav-link"><a href="/software">Requirements</a></li>
    <li class="small-nav-link"><a href="/finance">Design</a></li>
    <li class="small-nav-link"><a href="/creative">Test</a></li>
    <li class="small-nav-link"><a href="">Manual</a></li>
    <li class="small-nav-link"><a href="">App</a></li>
  </ul>

</div>

<div class="nav">
  <a href="/"><img src="{{ site.url }}/assets/logo-2.png" id="logo-img" alt="Oskar Niburski"/></a>
  <h1> Calc-u-later </h1>

  <div class="parent-nav">
    <ul>
      <li class="small-nav-link"><a href="/software">Requirements</a></li>
      <li class="small-nav-link"><a href="/finance">Design</a></li>
      <li class="small-nav-link"><a href="/creative">Test</a></li>
      <li class="small-nav-link"><a href="">Manual</a></li>
      <li class="small-nav-link"><a href="">App</a></li>
    </ul>
  </div>
</div>

<hr class="hr-nav">